Source: ipmitool
Section: utils
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Uploaders: Duncan Laurie <duncan@iceblink.org>
Build-Depends: debhelper (>> 4.0.0), libreadline5-dev | libreadline-dev, libssl-dev, autoconf, automake1.9 | automake, autotools-dev, libtool
Standards-Version: 3.6.2.1

Package: ipmitool
Architecture: i386 amd64 ia64
Depends: ${shlibs:Depends}, lsb-base
Suggests: openipmi
Description: utility for IPMI control with kernel driver or LAN interface
 A utility for managing and configuring devices that support the
 Intelligent Platform Management Interface.  IPMI is an open standard
 for monitoring, logging, recovery, inventory, and control of hardware
 that is implemented independent of the main CPU, BIOS, and OS.  The
 service processor (or Baseboard Management Controller, BMC) is the
 brain behind platform management and its primary purpose is to handle
 the autonomous sensor monitoring and event logging features.
 .
 The ipmitool program provides a simple command-line interface to this
 BMC.  It features the ability to read the sensor data repository
 (SDR) and print sensor values, display the contents of the System
 Event Log (SEL), print Field Replaceable Unit (FRU) inventory
 information, read and set LAN configuration parameters, and perform
 remote chassis power control.

