Source: ipmitool
Section: contrib
Priority: optional
Maintainer: Duncan Laurie <duncan@sun.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.8

Package: ipmitool
Architecture: i386
Provides: ipmitool
Description: Utility for IPMI control with kernel driver or LAN interface

